<div class="container" *ngIf="member">
    <div class="row justify-content-center">
        <div class="card col-6 mt-2">
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label>Image</label>
                        <img [src]="member.imgUrl" class="card-img-top">
                    </div>
                    <div class="form-group">
                        <label>Name {{ member.name }}</label>
                        <input type="text" name="name" class="form-control" [(ngModel)]="member.name">
                    </div>
                    <div class="form-group">
                        <label>Image URL</label>
                        <input type="text" class="form-control" [value]="member.imgUrl">
                    </div>
                    <div class="form-group">
                        <label>Instagram ID</label>
                        <input type="text" class="form-control" [value]="member.instagramId">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>